.year_card{
    width: 100%;
    background-color: var(--col-two);
    font-family: 'Gantari', sans-serif;
    
    margin-bottom: 1em;
    padding: 1.5em;

    border-radius: 1em;

    position: relative;
}

@media screen and (max-width: 520px){ /* Large-Mobile */
	.year_card{
        padding: 1em 0.75em;
    }
}

.deletable_card_true{
    animation: wiggle 0.22s infinite alternate ease-in-out;
}





td{
}

/* Buttons */
#fab_btn{
    background-color: #8CC6C6;
    box-shadow: 1px 6px 12px 2px #61b5aa88;

    font-family: 'Gantari', sans-serif;
    font-size: 2em;
    color: #FFF;
    min-width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 1em;
    user-select: none;

    position: fixed;
    bottom: 1em;
    right: 1em;

    cursor: pointer;
}

.delete_toggle{
    background-color: #8CC6C6;
    box-shadow: 1px 6px 12px 2px #61b5aa88;
    font-size: 1.25em;
    color: #FFF;
    width: 2em;
    line-height: 2em;
    text-align: center;
    border-radius: 1em;
    user-select: none;

    position: fixed;
    bottom: 5.5em;
    right: 2.15em;

    cursor: pointer;
}

.close_btn{
    font-size: 1em;
    padding: 0.25em;
    background-color: #ed6464;
    color: #ffc2c2;
    width: 1em;
    height: 1em;
    border-radius: 1em;

    position: absolute;
    top: -0.5em;
    right: -0.5em;

    cursor: pointer;

}
/* Close button wiggle animation */
@keyframes wiggle {
    from{
        transform: translateX(-2px);
    }
    to{
        transform: translateX(2px);
    }
}

.title_container{
    display: block;
    cursor: pointer;
    width: fit-content;
}
.edit_btn{
    visibility: hidden;
    opacity: 0.25;
    font-size: 1.2em;
}
.title_container:hover .edit_btn{
    visibility: visible;
}

.add_btn{
    display: table;
    cursor: pointer;
    background-color: #8CC6C6;
    color: #deffff;
    
    border-radius: 5em;
    padding: 0.7em;
}


/* Titles */
h2{ /* Years */
    font-size: 2em;
    margin: 0 0.2em 0.5em 0;
    display: inline-block;
    max-width: 60vw;
    word-wrap: break-word;
}

h3{ /* Terms/Semesters */
    font-size: 1.5em;
    margin: 0 0.2em 0.5em 0;
    display: inline-block;
    max-width: 60vw;
    word-wrap: break-word;
}

h4{ /* Courses */
    font-size: 1em;
    line-height: 2em;
    margin: 0 0.2em 0 0;
    display: inline-block;
    max-width: 60vw;
    word-wrap: break-word;
}

[contenteditable] {
    outline: 0px solid transparent;
  }