.course_card{
    width: calc(50% - 1em);

    background-color: var(--col-four);
    font-family: 'Gantari', sans-serif;
    
    margin-bottom: 1em;
    padding: 1em;

    border-radius: 5em;

    position: relative;
    display: inline-block;
    margin-right: 1em;
    box-sizing: border-box;
}

.hover_false{
    cursor: pointer;
}

form{
    max-width: 75vw;
    display: block;
}

input{
    font-size: 1.5em;
    margin: 0 0.2em 0.5em 0;
    display: inline-block;
    max-width: 75%;
    background: transparent;
    color: var(--text-col);
    border: 0;
    font-weight: bold;
    font-family: 'Gantari', sans-serif;
    outline: none;
}

@media screen and (max-width: 480px){ /* Large-Mobile */
	.course_card{
        width: 100%;
        box-sizing: border-box;
        padding: 0.5em 2em;
    }
}