@import url('https://fonts.googleapis.com/css2?family=Gantari:wght@500&display=swap');
h1{
    font-family: 'Gantari', sans-serif;
    font-size: min(16vw, 5em);
    margin-left: 0.1em;
}
.container{
    padding: 1em;
    max-width: 800px;
    margin: 0 auto;
    height: 100vh;
    /* overflow-y: hidden; */
    box-sizing: border-box;
}

@media screen and (max-width: 520px){ /* Large-Mobile */
	.container{
        padding: 1em 0.5em;
    }
}