<div class="centered_content title_container ">
    <!-- Home screen button -->
    <h4 [attr.contentEditable] = 'courseObj.needsName' #x 
    (keydown.enter)="editCourse(x.innerText); x.blur(); x.textContent = courseObj.id;" 
    (blur)="editCourse(x.innerText); x.textContent = courseObj.id;">{{courseObj.id}}</h4>
    <!-- replace edit btn with a container that allows clicking to be linked -->
    <i class="material-icons fixed_edit_btn" *ngIf="courseObj.needsName">edit</i>

    <!-- Actual content area -->
    <main id="course_page_bg" *ngIf="courseObj.isOpen" (click)="$event.stopPropagation();">
        <section id="course_page_container">
            <!-- Title section -->
            <h1 contenteditable="true" #x (keydown.enter)="editCourse(x.innerText); x.blur(); x.textContent = courseObj.id" (blur)="editCourse(x.innerText); x.textContent = courseObj.id;">{{courseObj.id}}</h1>
            <!-- Grade goal section -->
            <div id="goal_container">
                <h2>Grade goal:&nbsp;</h2>
                <h2 contenteditable="true" #y (keydown.enter)="editGoal(y.innerText); y.blur(); y.innerText = ''+courseObj.gradeGoal"
                (blur)="editGoal(y.innerText); y.innerText = ''+courseObj.gradeGoal;">{{courseObj.gradeGoal}}</h2><h2>%</h2>
                <i class="material-icons edit_btn">edit</i>
                <i *ngIf="courseObj.gradeGoal === 0" class="material-icons large_edit_btn">edit</i>
            </div>


            <!-- Grade section -->
            <article id="grades">
                <!-- Have for loop for group cards-->
                <div class="group_card deletable_card_{{isEditing3}}" *ngFor="let curGroup of courseObj.groups">
                    <div class="title_container">
                        <!-- <h2 contenteditable="true" #x (keydown.enter)="editYear(x.innerText);" (keyup.enter)="x.innerText = yearObj.id; x.blur()" >{{yearObj.id}}</h2> -->
                        <h3 contenteditable="true" #z 
                        (keydown.enter)="editGroup(curGroup, z.innerText); z.blur(); z.textContent = curGroup.id" 
                        (blur)="editGroup(curGroup, z.innerText); z.textContent = curGroup.id;" >{{curGroup.id}}</h3>

                        <i class="material-icons edit_btn">edit</i>
                    </div>

                    
                    <!-- Have for loop for grade cards -->
                    <div class="grade_card deletable_card_{{isEditing3}}" *ngFor="let curGrade of curGroup.grades">
                    <table  >
                        <tr>
                            <!-- Editable title and weight values -->
                            <td>Grade Title</td>
                            <td>Weight</td>
                        </tr>
                        <tr>
                            <!-- Progress bar and editible mark values -->
                            <td>Progress bar</td>
                            <td>Mark</td>
                        </tr>
                        
                    </table>
                    <i *ngIf="isEditing3" class="material-icons close_btn" (click)="deleteGrade(curGroup, curGrade)">close</i></div>


                    <!-- Add new grade button -->
                    <h5 (click)="addNewGrade(curGroup)">&lt;Add grade&gt;</h5>
                    <!-- Delete coruse group button -->
                    <i *ngIf="isEditing3" class="material-icons close_btn" (click)="deleteGroup(curGroup)">close</i>
                </div>

                <!-- Add new group button -->
                <h4 (click)="addNewGroup()">&lt;Add course group&gt;</h4>
            </article>


            <!-- Results section? -->
            <div id="results_container">
                <h2>Current grade: xx</h2>
            </div>
            <!-- Close button -->
            <span id="close_win_btn" (click)="$event.stopPropagation(); courseObj.toggleOpen(); isEditing3 = false; requestSaveGroup('Toggled close')">Return</span>
            <i class="material-icons delete_toggle" (click)="toggleEdit()">delete</i>
        </section>
    </main>
</div>