<div class="centered_content title_container ">
    <!-- Home screen button -->
    <h4 [attr.contentEditable] = 'courseObj.needsName' #x 
    (keydown.enter)="editCourse(x.innerText); x.blur(); x.innerText = courseObj.id;" 
    (blur)="editCourse(x.innerText); x.innerText = courseObj.id;">{{courseObj.id}}</h4>
    <!-- replace edit btn with a container that allows clicking to be linked -->
    <i class="material-icons fixed_edit_btn" *ngIf="courseObj.needsName">edit</i>

    <!-- Actual content area -->
    <main id="course_page_bg" *ngIf="courseObj.isOpen" (click)="$event.stopPropagation();">
        <section id="course_page_container">
            <!-- Title section -->
            <h1 contenteditable="true" #x (keydown.enter)="editCourse(x.innerText); x.blur(); x.innerText = courseObj.id" (blur)="editCourse(x.innerText); x.innerText = courseObj.id;">{{courseObj.id}}</h1>
            <!-- Grade goal section -->
            <h2>Grade goal: {{courseObj.gradeGoal}}</h2>
            <!-- Grade section -->
            <article id="grades">
                <!-- Have for loop for groups -->
                <div *ngFor="let curGroup of courseObj.groups">
                    <h3>{{curGroup.id}}</h3>
                    <!-- Have for loop for grade cards -->
                    <div *ngFor="let curGrade of curGroup.grades">
                        A grade entry.
                    </div>
                    <!-- Add new grade button -->
                    <h5 (click)="curGroup.addGrade()">&lt;Add grade&gt;</h5> <!-- make this a method in the ts file instead and parse obj through so we can save -->
                </div>
                <!-- Add new group button -->
                <h4 (click)="addNewGroup()">&lt;Add course group&gt;</h4>
            </article>
            <!-- Results section? -->

            <!-- Close button -->
            <span id="close_win_btn" (click)="$event.stopPropagation(); courseObj.toggleOpen(); requestSaveGroup('Toggled close')">Return</span>
        </section>
    </main>
</div>