<!-- Home screen button -->
<form class="title_container" onsubmit="return false">
    <!-- course name and input -->
    <input #x value="{{courseObj.id}}" [disabled]="!courseObj.needsName"
    (blur)="editCourse(x.value); x.value = courseObj.id;"
    (keydown.enter)="x.blur()" placeholder="New course" class="course_btn"
    >
        <!-- replace edit btn with a container that allows clicking to be linked -->
    <i class="material-icons fixed_edit_btn" *ngIf="courseObj.needsName">edit</i>
</form>


 <!-- Actual content area -->
 <main id="course_page_bg" *ngIf="courseObj.isOpen" (click)="$event.stopPropagation();">
    <section id="course_page_container">
        <!-- Title section -->
        <form onsubmit="return false"><input id="course_title" #course value="{{courseObj.id}}"
    (blur)="editCourse(course.value); course.value = courseObj.id;"
    (keydown.enter)="x.blur()" placeholder="Course name"
    ></form>
        
        
        <!-- Grade goal section -->
        <div id="goal_container">
            <h2>Grade goal (%)&ensp;</h2>
            <!-- Number input -->
            <form onsubmit="return false" style="display: inline-block;"><input  id="goal_title" type="number" min="0" max="100"  #goal value="{{courseObj.gradeGoal}}"
                (blur)="editGoal(goal.value); goal.value = ''+courseObj.gradeGoal;"
                (keydown.enter)="x.blur()" placeholder="90">
            </form>
        </div>


        <!-- Grade section -->
        <article id="grades">
            <!-- Have for loop for group cards-->
            <div class="group_card deletable_card_{{isEditing3}}" *ngFor="let curGroup of courseObj.groups">
                <div class="title_container">
                    <!-- Title -->
                    <form onsubmit="return false" style="display: inline-block;">
                        <input class="group_title"  #group value="{{curGroup.id}}"
                        (blur)="editGroup(curGroup, group.value); group.value = curGroup.id;"
                        (keydown.enter)="group.blur()" placeholder="New group">
                    </form>

                    <!-- <i class="material-icons edit_btn">edit</i> -->
                </div>

                
                <!-- Have for loop for grade cards -->
                <div class="grade_card deletable_card_{{isEditing3}}" *ngFor="let curGrade of curGroup.grades" [ngStyle]="{'opacity': 70 + curGrade.weight + '%'}">
                    <table  >
                        <tr>
                            <!-- <textarea name="textarea" style="width:250px;height:150px;"></textarea> TRY THIS TOMORROW -->
                            <td>
                                <form onsubmit="return false" style="display: inline-block;">
                                    <input class="group_title"  #grade value="{{curGrade.id}}"
                                    (blur)="editGrade(curGrade, grade.value); grade.value = curGrade.id;"
                                    (keydown.enter)="grade.blur()" placeholder="New grade">
                                </form>
                            </td>
                            <!-- Weight input -->
                            <td>Weight (%)<form><input class="number_input" #weight type="number" min="0" max="100" value="{{curGrade.weight && curGrade.weight > 0 ? +curGrade.weight.toFixed(2) : ''}}"
                                (change)="editWeight(curGrade, weight.value); weight.value = curGrade.weight ? ''+curGrade.weight : ''; weight.blur()"
                                (keydown.enter)="weight.blur()" placeholder="{{+(100 - this.totalWeights()).toFixed(1)}}?"></form></td>
                        </tr>
                        <tr>
                            <!-- Progress bar and editible mark values -->
                            <td>
                                <div class="progress_bar_container">
                                    <div class="progress_bar" [ngStyle]="{'width': curGrade.userGrade + '%'}"></div>
                                </div>
                            </td>
                            <!-- Mark input -->
                            <td>Mark (%)<form><input class="number_input" #mark type="number" min="0" max="100" value="{{curGrade.userGrade ? +curGrade.userGrade.toFixed(2) : '0'}}"
                                (change)="editMark(curGrade, mark.value); mark.value = curGrade.userGrade ? ''+curGrade.userGrade : '0'; mark.blur()"
                                (keydown.enter)="mark.blur()" placeholder="90"></form></td>
                        </tr>
                        
                    </table>
                    <i *ngIf="isEditing3" class="material-icons close_btn" (click)="deleteGrade(curGroup, curGrade)">close</i>
                </div>


                <!-- Add new grade button -->
                <span class="add_btn" (click)="addNewGrade(curGroup)">Add grade</span>
                <!-- Delete coruse group button -->
                <i *ngIf="isEditing3" class="material-icons close_btn" (click)="deleteGroup(curGroup)">close</i>
            </div>

            <!-- Add new group button -->
            <span class="add_btn" (click)="addNewGroup()">Add group</span>
        </article>


        <!-- Results section? -->
        <div id="results_container">
            <h2 *ngIf="totalWeights() > 0; else requestMarks">Current grade average: {{this.calculateAverage().toFixed(2)}}</h2>
            <ng-template #requestMarks><h2>Add some marks!</h2></ng-template>
            <span class="error_msg" *ngIf="totalWeights() > 100">Warning: Total weights is over 100%.</span>
            <span class="error_msg" *ngIf="totalWeights() < 99.5 && totalWeights() > 0">Warning: Total weights is below 100%.</span>
        </div>

        
        <!-- Close button -->
        <span id="close_win_btn" (click)="$event.stopPropagation(); courseObj.toggleOpen(); isEditing3 = false; requestSaveGroup('Toggled close')">Return</span>
        <i class="material-icons delete_toggle" (click)="toggleEdit()">delete</i>
    </section>
</main>