<div class="title_container">
    <!-- <h2 contenteditable="true" #x (keydown.enter)="editYear(x.innerText);" (keyup.enter)="x.innerText = yearObj.id; x.blur()" >{{yearObj.id}}</h2> -->
    <h2 contenteditable="true" #x (keydown.enter)="editYear(x.innerText); x.blur(); x.innerText = yearObj.id" (blur)="editYear(x.innerText); x.innerText = yearObj.id;" >{{yearObj.id}}</h2>
    <i class="material-icons edit_btn">edit</i>
</div>
<table class="term_card deletable_card" *ngFor="let curTerm of items">
     <!-- Create instances of term objects and send the term item through -->
    {{curTerm.name}}
    <!-- <app-year [yearObj]="curYear" ></app-year> -->
    <!-- Create close button -->
    <i class="material-icons close_btn" (click)="deleteTerm(curTerm)">close</i>
</table>
<span class="add_btn" (click)="addNewTerm()">Add new term</span>
<!-- <i class="material-icons add_btn" (click)="addNewTerm()">add</i> -->