.term_card{
    width: 100%;
    background-color: var(--col-three);
    font-family: 'Gantari', sans-serif;
    
    margin-bottom: 1em;
    padding: 1em;

    border-radius: 1em;

    position: relative;
    
}

@media screen and (max-width: 520px){ /* Large-Mobile */
	.term_card{
        padding: 1em 0.75em;
    }
}