/* You can add global styles to this file, and also import other style files */
body{
    font-size: 16px;
    background-color: var(--col-one);
    color: var(--text-col);
    margin: 0;
    user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}


html{
	--text-col: #333;   /* Use transparency for lighter versions */
	--col-one: #FFFFFF;
    --col-two: #F0F0F0;
    --col-three: #D9D9D9; 
    --col-four: #AEAEAE;

    --bar-col: #677B69;
    --pred-bar-col: #987A59;
    /* use colour 4 for the unset ones */
}

[colour-theme = "dark"]{
	--text-col: #f9f9f9;   /* Use transparency for lighter versions */
	--col-one: #202020;
    --col-two: #353535;
    --col-three: #3d3d3d; 
    --col-four: #4a4a4a;
    --bar-col: #677B69;
    --pred-bar-col: #987A59;
}


::-webkit-scrollbar{
    background-color: #ccc;
    width: max(5px, min(0.75vw, 10px));
}

::-webkit-scrollbar-thumb {
    background-color: #999;
    border-radius: 1em;
}


